n8n/workflows/v2/01_policy_welcome_onboarding.json
{
  "name": "V2: Policy Welcome & Onboarding",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"policy.welcome.send\",\n  \"idempotency_key\": \"welcome:{{ $json.entity_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"policy_id\": \"{{ $json.entity_id }}\",\n    \"account_id\": \"{{ $json.payload.account_id }}\",\n    \"policy_number\": \"{{ $json.payload.policy_number }}\",\n    \"line_of_business\": \"{{ $json.payload.line_of_business }}\",\n    \"carrier_id\": \"{{ $json.payload.carrier_id }}\",\n    \"effective_date\": \"{{ $json.payload.effective_date }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-welcome",
      "name": "Send Welcome Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"task.create\",\n  \"idempotency_key\": \"welcome:call:{{ $json.entity_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"entity_type\": \"policy\",\n    \"entity_id\": \"{{ $json.entity_id }}\",\n    \"title\": \"New Policy Welcome Call\",\n    \"description\": \"Call customer to welcome them, explain policy details, and answer questions about {{ $json.payload.line_of_business }} coverage.\",\n    \"priority\": \"medium\",\n    \"due_in_minutes\": 2880,\n    \"category\": \"onboarding\"\n  }\n}",
        "options": {}
      },
      "id": "create-welcome-task",
      "name": "Create Welcome Call Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"nurture.sequence.start\",\n  \"idempotency_key\": \"onboard:{{ $json.entity_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"account_id\": \"{{ $json.payload.account_id }}\",\n    \"sequence_type\": \"new_policy_onboarding\",\n    \"line_of_business\": \"{{ $json.payload.line_of_business }}\",\n    \"start_delay_days\": 7\n  }\n}",
        "options": {}
      },
      "id": "start-onboarding",
      "name": "Start Onboarding Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Send Welcome Package",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Welcome Call Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Package": {
      "main": [
        [
          {
            "node": "Start Onboarding Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v2",
      "id": "v2-tag"
    },
    {
      "name": "policy",
      "id": "policy-tag"
    }
  ],
  "versionId": "1.0.0"
}
