n8n/workflows/v2/07_document_classification.json
{
  "name": "V2: Document Classification Routing",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"document.classify\",\n  \"idempotency_key\": \"classify:{{ $json.entity_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"document_id\": \"{{ $json.entity_id }}\",\n    \"filename\": \"{{ $json.payload.filename }}\",\n    \"storage_path\": \"{{ $json.payload.storage_path }}\",\n    \"mime_type\": \"{{ $json.payload.mime_type }}\"\n  }\n}",
        "options": {}
      },
      "id": "classify-doc",
      "name": "Classify Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.data.classification }}",
        "rules": {
          "rules": [
            {
              "value2": "dec_page",
              "outputKey": "dec_page"
            },
            {
              "value2": "policy",
              "outputKey": "policy"
            },
            {
              "value2": "loss_runs",
              "outputKey": "loss_runs"
            },
            {
              "value2": "drivers_license",
              "outputKey": "drivers_license"
            },
            {
              "value2": "unknown",
              "outputKey": "unknown"
            }
          ]
        },
        "options": {
          "fallbackOutput": "unknown"
        }
      },
      "id": "route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"document.process.dec_page\",\n  \"idempotency_key\": \"process:dec:{{ $json.data.document_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"document_id\": \"{{ $json.data.document_id }}\",\n    \"extract_coverages\": true,\n    \"extract_premiums\": true,\n    \"link_to_policy\": true\n  }\n}",
        "options": {}
      },
      "id": "process-dec",
      "name": "Process Dec Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 80],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"document.process.policy\",\n  \"idempotency_key\": \"process:policy:{{ $json.data.document_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"document_id\": \"{{ $json.data.document_id }}\",\n    \"link_to_policy\": true,\n    \"extract_endorsements\": true\n  }\n}",
        "options": {}
      },
      "id": "process-policy",
      "name": "Process Policy Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"document.process.loss_runs\",\n  \"idempotency_key\": \"process:loss:{{ $json.data.document_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"document_id\": \"{{ $json.data.document_id }}\",\n    \"extract_claims\": true,\n    \"calculate_loss_ratio\": true\n  }\n}",
        "options": {}
      },
      "id": "process-loss",
      "name": "Process Loss Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"document.process.drivers_license\",\n  \"idempotency_key\": \"process:dl:{{ $json.data.document_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"document_id\": \"{{ $json.data.document_id }}\",\n    \"extract_driver_info\": true,\n    \"verify_expiration\": true\n  }\n}",
        "options": {}
      },
      "id": "process-dl",
      "name": "Process DL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"task.create\",\n  \"idempotency_key\": \"classify:task:{{ $json.data.document_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"entity_type\": \"document\",\n    \"entity_id\": \"{{ $json.data.document_id }}\",\n    \"title\": \"Classify Unknown Document\",\n    \"description\": \"Document could not be auto-classified. Please review and classify manually.\",\n    \"priority\": \"low\"\n  }\n}",
        "options": {}
      },
      "id": "create-task",
      "name": "Create Classification Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Classify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Document": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Process Dec Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Policy Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Loss Runs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process DL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Classification Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v2",
      "id": "v2-tag"
    },
    {
      "name": "document",
      "id": "document-tag"
    }
  ],
  "versionId": "1.0.0"
}
