n8n/workflows/v3/08_remarket_trigger.json
{
  "name": "V3: Remarket Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"remarket.candidates.identify\",\n  \"idempotency_key\": \"remarket:batch:{{ $today.toISOString().slice(0,10) }}\",\n  \"agency_workspace_id\": \"all\",\n  \"params\": {\n    \"triggers\": [\n      {\n        \"type\": \"premium_increase\",\n        \"threshold_percent\": 15,\n        \"renewal_window_days\": 90\n      },\n      {\n        \"type\": \"carrier_non_renewal\",\n        \"advance_notice_days\": 60\n      },\n      {\n        \"type\": \"coverage_reduction\",\n        \"renewal_window_days\": 60\n      },\n      {\n        \"type\": \"customer_request\",\n        \"reason\": \"price_shop\"\n      },\n      {\n        \"type\": \"risk_improvement\",\n        \"years_since_last_claim\": 3\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "find-candidates",
      "name": "Find Remarket Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.candidates_found }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-candidates",
      "name": "Any Candidates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"remarket.process.batch\",\n  \"idempotency_key\": \"remarket:process:{{ $today.toISOString().slice(0,10) }}\",\n  \"agency_workspace_id\": \"all\",\n  \"params\": {\n    \"candidates\": {{ JSON.stringify($json.data.candidates || []) }},\n    \"create_tasks\": true,\n    \"auto_quote\": false,\n    \"notify_producers\": true\n  }\n}",
        "options": {}
      },
      "id": "process-remarketing",
      "name": "Process Remarketing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-candidates",
      "name": "No Candidates",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 380]
    }
  ],
  "connections": {
    "Daily": {
      "main": [
        [
          {
            "node": "Find Remarket Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Remarket Candidates": {
      "main": [
        [
          {
            "node": "Any Candidates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Candidates?": {
      "main": [
        [
          {
            "node": "Process Remarketing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v3",
      "id": "v3-tag"
    },
    {
      "name": "scheduled",
      "id": "scheduled-tag"
    },
    {
      "name": "remarket",
      "id": "remarket-tag"
    }
  ],
  "versionId": "1.0.0"
}
