n8n/workflows/v3/10_endorsement_processing.json
{
  "name": "V3: Endorsement Processing",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse endorsement type and determine processing\nconst payload = $input.first().json.payload;\nconst endorsementType = payload.endorsement_type;\n\nlet processingType = 'standard';\nlet requiresApproval = false;\nlet priority = 'medium';\nlet autoProcess = false;\n\nswitch(endorsementType) {\n  case 'add_driver':\n  case 'add_vehicle':\n  case 'add_location':\n    processingType = 'addition';\n    requiresApproval = true;\n    priority = 'high';\n    break;\n  case 'remove_driver':\n  case 'remove_vehicle':\n  case 'remove_location':\n    processingType = 'removal';\n    autoProcess = true;\n    break;\n  case 'coverage_increase':\n    processingType = 'coverage_change';\n    requiresApproval = true;\n    priority = 'high';\n    break;\n  case 'coverage_decrease':\n    processingType = 'coverage_change';\n    autoProcess = true;\n    break;\n  case 'address_change':\n  case 'name_change':\n    processingType = 'info_update';\n    autoProcess = true;\n    break;\n  case 'additional_insured':\n    processingType = 'certificate';\n    priority = 'high';\n    autoProcess = true;\n    break;\n}\n\nreturn {\n  ticket_id: $input.first().json.entity_id,\n  agency_workspace_id: $input.first().json.agency_workspace_id,\n  endorsement_type: endorsementType,\n  processing_type: processingType,\n  requires_approval: requiresApproval,\n  auto_process: autoProcess,\n  priority: priority,\n  policy_id: payload.policy_id,\n  account_id: payload.account_id\n};"
      },
      "id": "analyze-endorsement",
      "name": "Analyze Endorsement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.auto_process }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "can-auto",
      "name": "Can Auto-Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"endorsement.process.auto\",\n  \"idempotency_key\": \"endorse:auto:{{ $json.ticket_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"ticket_id\": \"{{ $json.ticket_id }}\",\n    \"policy_id\": \"{{ $json.policy_id }}\",\n    \"endorsement_type\": \"{{ $json.endorsement_type }}\",\n    \"processing_type\": \"{{ $json.processing_type }}\",\n    \"notify_customer\": true\n  }\n}",
        "options": {}
      },
      "id": "auto-process",
      "name": "Auto-Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"task.create\",\n  \"idempotency_key\": \"endorse:task:{{ $json.ticket_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"entity_type\": \"service_ticket\",\n    \"entity_id\": \"{{ $json.ticket_id }}\",\n    \"title\": \"Process Endorsement: {{ $json.endorsement_type }}\",\n    \"description\": \"Endorsement requires manual review and approval. Type: {{ $json.processing_type }}\",\n    \"priority\": \"{{ $json.priority }}\",\n    \"category\": \"endorsement\",\n    \"due_in_minutes\": 240\n  }\n}",
        "options": {}
      },
      "id": "create-task",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Analyze Endorsement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Endorsement": {
      "main": [
        [
          {
            "node": "Can Auto-Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Auto-Process?": {
      "main": [
        [
          {
            "node": "Auto-Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v3",
      "id": "v3-tag"
    },
    {
      "name": "endorsement",
      "id": "endorsement-tag"
    }
  ],
  "versionId": "1.0.0"
}
