n8n/workflows/v1/03_lead_deduplication.json
{
  "name": "V1: Lead Deduplication Check",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"lead.dedupe.check\",\n  \"idempotency_key\": \"dedupe:{{ $json.entity_id }}\",\n  \"agency_workspace_id\": \"{{ $json.agency_workspace_id }}\",\n  \"params\": {\n    \"lead_id\": \"{{ $json.entity_id }}\",\n    \"email\": \"{{ $json.payload.email }}\",\n    \"phone\": \"{{ $json.payload.phone }}\",\n    \"first_name\": \"{{ $json.payload.first_name }}\",\n    \"last_name\": \"{{ $json.payload.last_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "check-duplicates",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.is_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"task.create\",\n  \"idempotency_key\": \"dedupe:task:{{ $json.data.lead_id }}\",\n  \"agency_workspace_id\": \"{{ $json.data.agency_workspace_id }}\",\n  \"params\": {\n    \"entity_type\": \"lead\",\n    \"entity_id\": \"{{ $json.data.lead_id }}\",\n    \"title\": \"Review Duplicate Lead\",\n    \"description\": \"This lead may be a duplicate of existing contact {{ $json.data.existing_contact_id }}. Please review and merge if appropriate.\",\n    \"priority\": \"medium\",\n    \"due_in_minutes\": 60\n  }\n}",
        "options": {}
      },
      "id": "create-review-task",
      "name": "Create Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 380]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Create Review Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v1",
      "id": "v1-tag"
    },
    {
      "name": "lead",
      "id": "lead-tag"
    }
  ],
  "versionId": "1.0.0"
}
