n8n/workflows/v1/10_quote_followup_scheduler.json
{
  "name": "V1: Quote Follow-up Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lrqajzwcmdwahnjyidgv.supabase.co/functions/v1/automation-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"quote.followup.schedule\",\n  \"idempotency_key\": \"followup:batch:{{ $today.toISOString().slice(0,13) }}\",\n  \"agency_workspace_id\": \"all\",\n  \"params\": {\n    \"quote_statuses\": [\"sent\"],\n    \"days_since_sent\": [1, 3, 7],\n    \"exclude_if_activity_within_hours\": 24\n  }\n}",
        "options": {}
      },
      "id": "find-quotes",
      "name": "Find Quotes Needing Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "insureflow-api-key",
          "name": "InsureFlow API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.quotes_scheduled }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-quotes",
      "name": "Any Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the scheduled follow-ups\nconst data = $input.first().json.data;\nconsole.log(`Scheduled ${data.quotes_scheduled} quote follow-ups`);\n\nreturn {\n  scheduled_count: data.quotes_scheduled,\n  breakdown: data.breakdown || {},\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "log-results",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 220]
    },
    {
      "parameters": {},
      "id": "no-quotes",
      "name": "No Quotes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 380]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Find Quotes Needing Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Quotes Needing Follow-up": {
      "main": [
        [
          {
            "node": "Any Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Quotes?": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "v1",
      "id": "v1-tag"
    },
    {
      "name": "scheduled",
      "id": "scheduled-tag"
    },
    {
      "name": "quote",
      "id": "quote-tag"
    }
  ],
  "versionId": "1.0.0"
}
